<div>
  <% _.each(selectedTextArray, function(item, index){ %>
  <span><%- item %></span>
  <select class="js-tones-select" data-han="<%- inputTextArray[index] %>">
    <% _.each(pinyinArray[index], function(pitem, pindex){ %>
    <option value="<%- pitem %>"><%- pitem %></option>
    <% }); %>
    <option disabled value=""><%- inputTextArray[index] %></option>
  </select>
  <% }); %>
</div>
<div class="duxie_resultText">
  <% _.each(selectedTextArray, function(item, index){ %>
  <span><%- item %></span>
  (<span data-han="<%- inputTextArray[index] %>"><%- pinyinArray[index][0] %></span>)
  <% }); %>
</div>
<div class="duxie_button" id="js-ok">确定</div>
